@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Ubuntu:wght@500&display=swap');


body{
    
    margin:0;    
    overflow-x: hidden;
}


.first_container{
    width: auto;
    height: 49rem;
    background-color: rgb(33, 33, 33);
}


.first_navigation_bar{
    background-color: rgb(21, 21, 21);
    display:flex;
    width: 100%;
    align-items:center;
    position: absolute;
    top: 0;
    /* justify-content: space-evenly; */
}

.first_logo_navbar{
    display:flex;
    position:relative;
    height:45px;
    padding:15px;
    padding-left:6%;
    }


.first_work{
    background-color: transparent;
    border-style: none;
    font-size: medium;
    font-weight: 600;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 52.7%;
    transition: 0.2s ease-in;
}

.first_work:hover{
    color: rgb(102, 184, 47);
    scale: 1.1;
}


.first_expertise{
    background-color: transparent;
    border-style: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 40%;
    right: 44%;
    transition: 0.2s ease-in;

}

.first_expertise:hover{
    color: rgb(102, 184, 47);
    scale: 1.1;
}

.first_about_us{
    background-color: transparent;
    border-style: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 27.8%;
    top: 40%;
    transition: 0.2s ease-in;

}


.first_about_us:hover{
    color: rgb(102, 184, 47);
    scale: 1.1;
}

.first_process{
    background-color: transparent;
    border-style: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    color: white;  
    position: absolute; 
    top: 40%; 
    right: 36%;
    transition: 0.2s ease-in;

}

.first_process:hover{
    color: rgb(102, 184, 47);
    scale: 1.1;
}

.first_blogs{
    background-color: transparent;
    border-style: none;
    font-size: medium;
    cursor: pointer;
    font-weight: 600;
    color: white;    
    position: absolute;
    top: 40%;
    right: 22%;
    transition: 0.2s ease-in;
}

.first_blogs:hover{
    color: rgb(102, 184, 47);
    scale: 1.1;
}

.first_get_a_quote{
    padding: 10px;
    width: 11rem;
    position: absolute;
    right: 9%;
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(to bottom right, rgba(11, 97, 0, 0.74) , rgba(101, 234, 0, 0.83));
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    transition:  0.1s ease-in;
}


.first_get_a_quote:hover{
    opacity: 0.8;
    scale: 1.1;
}


.first_get_a_quote:active{
    opacity: 0.6;
    scale: 1.1;
}

.first_main_logo{

    position: absolute;
    margin-bottom: 0%;
    height: 65%;
    margin-top: 0%;
    bottom: 0.5%;
    left: -12%;
}


.first_main_bg{
    width: 100% ;
    height: 49rem;
}

.first_main_bg2{
    width: 100%;
    height: 49rem;
    background-color: rgba(0, 0, 0, 0.644);
    position: absolute;
    top: 0;
}

.first_text_box{
    height: 80vh;
    width: 35vw;
    background-color: rgba(14, 14, 14, 0.87);
    border-style: dashed;
    border: 40px;
    border-radius: 10%;
    border-color: rgb(128, 209, 6);
    position: absolute;
    top: 15%;
    right: 8%;
}

.first_end_line{
    width: 100%;
    height: 7px;
    background-image: linear-gradient(to bottom right, rgb(95, 189, 6) , rgb(136, 255, 0));
    position: relative;
    bottom: 5px;

}
 
/* second slide */

.second_container{
    height: 49rem;
    width: 100%;
    position: relative;
    top: 0%;
    margin-top: 5px;
}

.second_heading_container{
    height: 4rem;
    width: 30%;
    margin-top: 3rem;
    margin-left: 4.5rem;
    font-family: 'lato', sans-serif;
    padding: 1rem;
    font-size: 30px;
    font-weight: 540;
    color: rgb(41, 40, 40);
}

.second_line_design{
    width: 65%;
    height: 10px;
    position: relative;
    top: 32px;
    right: 30px;
    background-color: greenyellow;
    box-shadow: 8px 7px 10px rgb(35, 35, 35);
    z-index: -1;

}

.second_end_line{
    width: 100%;
    height: 7px;
    background-image: linear-gradient(to bottom right, rgb(95, 189, 6) , rgb(136, 255, 0));
    position: relative;
    bottom: 0px;

}

/*Third Slide*/ 

.third_container{
    width: auto;
    height: 50rem;
}

.third_main_bg1{
    width: 100%;
    height: 50rem;  
}

.third_main_bg2{
    width: 100%;
    height: 50rem;
    background-color: rgba(0, 0, 0, 0.644);
    position: relative;
    top: -50.2rem;
}



.third_heading{
    width:30rem;
    height:4rem;
    background-image: linear-gradient(to bottom right, rgba(11, 97, 0, 0.74) , rgba(101, 234, 0, 0.9));
    border-radius: 0px 20px 20px 0px;
    text-align:center;
    font-family: 'lato', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: white;
    position: absolute;
    top: 101.5rem;
}

.third_heading h1{
    padding-top: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.third_main_logo{
    height: 48vh;
    width: 38vw;
    opacity: 0.95;
    transition:  0.2s ease-out;
    position: absolute;
    top: 105rem;
    right: 13rem;
    cursor: pointer;
}

.third_main_logo2{
    height: 48vh;
    width: 38vw;
    cursor: pointer;
    opacity: 0.95;
    position: absolute;
    top: 124rem;
    left: 9rem;
    transition:  0.2s ease-out;
}

.third_main_logo:hover{
    scale: 1.1;
}

.third_main_logo:active{
    scale: 1.05;
    animation-timeline: 0.1s;
}
.third_main_logo2:hover{
    scale: 1.1;
}

.third_main_logo2:active{
    scale: 1.05;
    animation-timeline: 0.1s;    
}


.third_end_line{
    width: 100%;
    height: 7px;
    background-image: linear-gradient(to bottom right, rgb(95, 189, 6) , rgb(136, 255, 0));
    position: absolute;
    top: 151.1rem;
}


.third_explore_more{
    padding: 12px;
    width: 15rem;
    position: absolute;
    right: 7%;
    top: 145rem;
    border-radius: 10px;
    color: rgb(136, 224, 5);
    border-color: rgb(136, 224, 5);
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    transition:  0.1s ease-out;   

}


.third_explore_more:hover{
    background-color: rgb(136, 224, 5);
    color: white;
    border-color: transparent;
    scale: 1.1;

}

.fifth_container{
    width: auto;
    height: 50rem;
}
.fifth_main_bg1{
    width: 100%;
    height: 50rem;  
}

.fifth_main_bg2{
    width: 100%;
    height: 50rem;
    background-color: rgba(0, 0, 0, 0.644);
    position: relative;
    top: -50.2rem;
}



.fifth_vector{
    position: absolute;
    background:linear-gradient(45deg,rgba(33,33,33,0.5),rgba(11, 133, 0, 0.8));
    border-radius: 20px;
    height: 50vh;
    margin: 4px;
    width: 35vw; 
    top: 163rem;
    left: 5rem;
    display: block;
    transition: .3s ease;
    backface-visibility: hidden;
    
}

.fifth_vector:hover{
    opacity:0.5;
}
.fifth_vector:active{
    opacity: 0.5;
}


.fifth_text_box{
        height: 80vh;
        width: 88vw;
        background-color: rgba(14, 14, 14, 0.827);
        border-style: solid;
        border: 40px;
        border-radius: 9%;
        border-color: rgb(128, 209, 6);
        position: absolute;
        top: 160rem;
        right: 8rem;
        
}

.fifth_get_a_quote{
    padding: 10px;
    width: 15rem;
    height: 3rem;
    position: absolute;
    top: 190rem;
    left:13.5rem;
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(to bottom right, rgba(11, 97, 0, 0.75) , rgba(101, 234, 0, 0.83));
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    transition:  0.1s ease-in;
}


.fifth_get_a_quote:hover{
    opacity: 0.8;
    scale: 1.1;
}


.fifth_get_a_quote:active{
    opacity: 0.6;
    scale: 1.1;
}

.fifth_text{
       background-color: black;
        color: white;
        font-size: 20px;
        padding: 10px;
        position:absolute;
}
.fifth_middle{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 176rem;
        left: 22rem;
        width: 30vw;
        height: 40vh;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
}

  
.fifth_middle:hover {
    opacity: 1;
  }